
      
* { font-family:tahoma; font-size:12px; padding:0px; margin:0px; }


/* common properties for drag and drop div and thirddiv */
.container .router_div{
        
    border: 1px solid #346789;
    border-radius: 20px;
    box-shadow: 2px 2px 19px #aaa;
    display: flex;
    justify-content: center;
    opacity: 0.8;
    align-items: center;
    cursor: pointer;
    text-align: center;
    z-index: 21;
    position: absolute;
    width: 45px;
    height: 45px;
    background-color: #eeeeef;
    color: black;
    font-family: helvetica, sans-serif;
    padding: 0.5em;
    font-size: 0.9em;
    -webkit-transition: -webkit-box-shadow 0.15s ease-in;
    -moz-transition: -moz-box-shadow 0.15s ease-in;
    -o-transition: -o-box-shadow 0.15s ease-in;
    transition: box-shadow 0.15s ease-in;
    }
 

.connectionlabel{
    
    background-color: #444;
    padding: 0.4em;
    font: 12px sans-serif;
    color: white;
    z-index: 21;
    border: 1px solid red;
}

.endpointLabel {
    z-index: 21;
    cursor: pointer;
}

#R1{
    
    top: 5%;
    left: 20%;
}

#R2{
    
    top: 5%;
    left: 35%;
}

#R3{
    
    top: 20%;
    left: 27%;
}

#R4{
    
    top: 50%;
    left: 12%;
}

#R5{
    
    top: 65%;
    left: 5%;
}

#R6{
    
    top: 65%;
    left: 20%;
}


#R7{
    
    top: 50%;
    left: 45%;
}

#R8{
    
    top: 65%;
    left: 39%;
}

#R9{
    
    top: 65%;
    left: 52%;
}

#msg_interface{
    
    display: flex;
    justify-content: space-around;
    background-color: DodgerBlue;
    color: aliceblue;
    margin-top: 20px;
    font-size: 1.3em;
    align-items: center;
    
}


.router_name{
    
font-size: 1em;
text-align: center;
padding: 8px 16px;
}


#label{
    margin-top:50px;
    font-family: helvetica;
    
    color: DodgerBlue;
}

#label span{
    font-size: 1.5em;
}

#status{
    font-size: 1.5em;
    color: DodgerBlue;
}

#send_msg{
    
    margin-top: 20px;
}


#submit{
    
    font-size: 1em;
    background-color: dodgerblue;
    border: none;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

#submit:hover{
    background-color: green;
}

#submit:active {
    
    border: 1px solid dodgerblue;
}


#content p, span{
    font-size: 1.2em;
    
}


#content, #CommunicationInterface { 
    width:500px; 
    margin-left:auto; 
}

#content { 
    padding:5px; 
    word-wrap: break-word; 
    background:#363434; 
    color: white; 
    overflow-y: scroll;        
    margin-top:10px; height: 300px;
}

#status { 
    
    width:88px; 
    display:block; 
    float:left; 
    margin-top:15px; 
}